# Python System Files
__pycache__/
*.py[cod]
venv/
.env

# Google Secrets (NEVER COMMIT THESE)
credentials.json
token.json
client_secret_*.json
service_account.json

# Node Modules (Too big to commit)
node_modules/
dist/
.DS_Store